@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
    --primary-color: #39b6ab; /* Main teal accent color */
    --primary-light: #a8ded7; /* Lighter teal shade */
    --primary-dark: #2a8a82; /* Darker teal shade */
    --secondary-color: #fbf5c2; /* Soft yellow to complement the teal */
    --black-light: #4d4d4d;
    --black: #1e1e1e;
    --white-light: #f5f5f5;
    --white: #ffffff;
  }
}

/* Utilities */
@layer utilities {
  .flex-between {
    @apply flex justify-between items-center;
  }

  /* Typography */
  .text-30-extrabold {
    @apply text-[30px] font-extrabold text-[var(--white)];
  }
  .text-30-bold {
    @apply text-[30px] font-bold text-[var(--black)];
  }
  .text-30-semibold {
    @apply font-semibold text-[30px] text-[var(--black)];
  }
  .text-26-semibold {
    @apply font-semibold text-[26px] text-[var(--black)];
  }
  .text-20-medium {
    @apply font-medium text-[20px] text-[var(--black)];
  }
  .text-16-medium {
    @apply font-medium text-[16px] text-[var(--black)];
  }
  .text-14-light {
    @apply font-normal text-sm text-[var(--white-light)]/80;
  }

  /* Containers and Backgrounds */
  .teal_container {
    @apply w-full bg-[var(--primary-color)] min-h-[530px] pattern flex justify-center items-center flex-col py-10 px-6;
  }
  .section_container {
    @apply px-6 py-10 max-w-7xl mx-auto;
  }
  .card_grid {
    @apply grid md:grid-cols-3 sm:grid-cols-2 gap-5;
  }
  .no-result {
    @apply text-[var(--black-light)] text-sm font-normal;
  }

  /* Headings */
  .heading {
    @apply uppercase bg-[var(--black)] px-6 py-3 font-work-sans font-extrabold text-[var(--white)] sm:text-[54px] sm:leading-[64px] text-[36px] leading-[46px] max-w-5xl text-center my-5;
  }
  .sub-heading {
    @apply font-medium text-[20px] text-[var(--white)] max-w-2xl text-center;
  }

  /* Profile Card */
  .profile_card {
    @apply w-80 px-6 pb-6 pt-20 flex flex-col justify-center items-center bg-[var(--primary-color)] border-[5px] border-[var(--black)] shadow-100 rounded-[30px] relative z-0 h-fit max-lg:w-full;
  }
  .profile_title {
    @apply w-11/12 bg-[var(--white)] border-[5px] border-[var(--black)] rounded-[20px] px-5 py-3 absolute -top-9 shadow-100;
  }
  .profile_image {
    @apply rounded-full object-cover border-[3px] border-[var(--black)];
  }

  /* Tag with Custom Triangle Accent */
  .tag {
    @apply bg-secondary px-6 py-3 font-work-sans font-bold rounded-sm uppercase relative tag-tri;
  }

  /* Startup Card */
  .startup-card {
    @apply bg-[var(--white)] border-[5px] border-[var(--black)] py-6 px-5 rounded-[22px] shadow-200 hover:border-[var(--primary-color)] transition-all duration-500 hover:shadow-300 hover:bg-[var(--primary-light)];
  }
  .startup-card_date {
    @apply font-medium text-[16px] bg-[var(--primary-light)] px-4 py-2 rounded-full group-hover:bg-[var(--white-light)];
  }
  .startup-card_btn {
    @apply rounded-full bg-[var(--black-light)] font-medium text-[16px] text-[var(--white)] px-5 py-3;
  }
  .startup-card_desc {
    @apply font-normal text-[16px] line-clamp-2 my-3 text-black-100 break-all;
  }

  .startup-card_img {
    @apply w-full h-[164px] rounded-[10px] object-cover;
  }

  /* Buttons and Form Fields */
  .login-btn {
    @apply border-[5px] py-4 border-[var(--black)] bg-[var(--white)] text-[var(--black)] font-medium shadow-100 hover:shadow-none transition-all duration-500;
  }

  .search-form {
    @apply max-w-3xl w-full min-h-[80px] bg-white border-[5px] border-black rounded-[80px] text-[24px] mt-8 px-5 flex flex-row items-center gap-5;
  }

  .search-input {
    @apply flex-1 font-bold placeholder:font-semibold placeholder:text-black-100 w-full h-auto outline-none;
  }

  .search-btn {
    @apply size-[50px] rounded-full bg-black flex justify-center items-center !important;
  }

  .startup-form {
    @apply max-w-2xl mx-auto bg-white my-10 space-y-8 px-6;
  }

  .startup-form_label {
    @apply font-bold text-[18px] text-black uppercase;
  }

  .startup-form_input {
    @apply border-[3px] border-black px-5 py-7 text-[18px] text-black font-semibold rounded-full mt-3 placeholder:text-black-300 !important;
  }
  .startup-form_textarea {
    @apply border-[3px] border-black p-5 text-[18px] text-black font-semibold rounded-[20px] mt-3 placeholder:text-black-300 !important;
  }

  .startup-form_error {
    @apply text-red-500 mt-2 ml-5;
  }

  .startup-form_editor {
    @apply mt-3 border-[3px] border-black text-[18px] text-black font-semibold placeholder:text-black-300 !important;
  }
  .startup-form_btn {
    @apply bg-primary border-[4px] border-black rounded-full p-5 min-h-[70px] w-full font-bold text-[18px] !important;
  }
  /* view */
  .view-container {
    @apply flex justify-end items-center mt-5 fixed bottom-3 right-3;
  }

  .view-text {
    @apply font-medium text-[16px] bg-primary-100 px-4 py-2 rounded-lg capitalize;
  }

  .category-tag {
    @apply font-medium text-[16px] bg-primary-100 px-4 py-2 rounded-full;
  }

  /* Miscellaneous */
  .pattern {
    background-image: linear-gradient(
      to right,
      transparent 49.5%,
      rgba(251, 232, 67, 0.2) 49.5%,
      rgba(251, 232, 67, 0.6) 50.5%,
      transparent 50.5%
    );
    background-size: 5% 100%;
    background-position: center;
    background-repeat: repeat-x;
  }

  .tag-tri {
    @apply before:content-[''] before:absolute before:top-2 before:left-2 before:border-t-[10px] before:border-t-black before:border-r-[10px] before:border-r-transparent after:content-[''] after:absolute after:bottom-2 after:right-2 after:border-b-[10px] after:border-b-black after:border-l-[10px] after:border-l-transparent;
  }
}

.w-md-editor-toolbar {
  padding: 10px !important;
}
